@charset "utf-8";
/* CSS Document */
html,body,div,h1,h2,h3,h4,h5,h6,pre,a,li,ul{margin:0;padding:0}
body{font:normal normal normal 14px/24px Arial,"微软雅黑",Microsoft YaHei,simsun;text-align:center;word-break:break-all;background:#fff;min-width:1024px;overflow:hidden}
html,body{
		padding: 0;
		margin: 0;
		height: 100%;
}
a{text-decoration:none;color:#333}
a:hover{color:#333}
a:active{outline:none}
li{list-style-type:none}
ul,li{list-style:none}
div{text-align:left}
.fr{float:right}
.h55{height:55%!important}
.h45{height:45%!important}

/*栅格化*/
.pure-g{letter-spacing:-.31em;text-rendering:optimizespeed;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-align-content:flex-start;-ms-flex-line-pack:start;align-content:flex-start}
.pure-u,.pure-u-1,.pure-u-1-1,.pure-u-1-12,.pure-u-1-2,.pure-u-1-24,.pure-u-1-3,.pure-u-1-4,.pure-u-1-5,.pure-u-1-6,.pure-u-1-8,.pure-u-10-24,.pure-u-11-12,.pure-u-11-24,.pure-u-12-24,.pure-u-13-24,.pure-u-14-24,.pure-u-15-24,.pure-u-16-24,.pure-u-17-24,.pure-u-18-24,.pure-u-19-24,.pure-u-2-24,.pure-u-2-3,.pure-u-2-5,.pure-u-20-24,.pure-u-21-24,.pure-u-22-24,.pure-u-23-24,.pure-u-24-24,.pure-u-3-24,.pure-u-3-4,.pure-u-3-5,.pure-u-3-8,.pure-u-4-24,.pure-u-4-5,.pure-u-5-12,.pure-u-5-24,.pure-u-5-5,.pure-u-5-6,.pure-u-5-8,.pure-u-6-24,.pure-u-7-12,.pure-u-7-24,.pure-u-7-8,.pure-u-8-24,.pure-u-9-24{letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto;display:inline-block;zoom:1}
.pure-g [class*=pure-u]{font-family:sans-serif}
.pure-u-1-24{width:4.1667%}
.pure-u-1-12,.pure-u-2-24{width:8.3333%}
.pure-u-1-8,.pure-u-3-24{width:12.5%}
.pure-u-1-6,.pure-u-4-24{width:16.6667%}
.pure-u-1-5{width:20%}
.pure-u-5-24{width:20.8333%}
.pure-u-1-4,.pure-u-6-24{width:25%}
.pure-u-7-24{width:29.1667%}
.pure-u-1-3,.pure-u-8-24{width:33.3333%}
.pure-u-3-8,.pure-u-9-24{width:37.5%}
.pure-u-2-5{width:40%}
.pure-u-10-24,.pure-u-5-12{width:41.6667%}
.pure-u-11-24{width:45.8333%}
.pure-u-1-2,.pure-u-12-24{width:50%}
.pure-u-13-24{width:54.1667%}
.pure-u-14-24,.pure-u-7-12{width:58.3333%}
.pure-u-3-5{width:60%}
.pure-u-15-24,.pure-u-5-8{width:62.5%}
.pure-u-16-24,.pure-u-2-3{width:66.6667%}
.pure-u-17-24{width:70.8333%}
.pure-u-18-24,.pure-u-3-4{width:75%}
.pure-u-19-24{width:79.1667%}
.pure-u-4-5{width:80%}
.pure-u-20-24,.pure-u-5-6{width:83.3333%}
.pure-u-21-24,.pure-u-7-8{width:87.5%}
.pure-u-11-12,.pure-u-22-24{width:91.6667%}
.pure-u-23-24{width:95.8333%}
.pure-u-1,.pure-u-1-1,.pure-u-24-24,.pure-u-5-5{width:100%}

/*主体框架*/
html,body{width:100%;height:100%;color:#333}
.warp{margin:0 auto;width:100%}.w100p{width:100%}

/*头部*/
.header{height:56px;position:relative;overflow:hidden;text-align:center}
.sysName{display:inline-block;height:56px;width:382px;left:calc(50% - 191px);color:#007fff;position:fixed;border-bottom:1px solid #333}
.sysName:before,.sysName:after{content:"";position:absolute;border-top:58px solid transparent;border-left:25px solid #333;top:-1px;left:0;}
.sysName:after{border-left-color:#fff;left:-1px;top:-1px;}
.sysName .tit{display:block;height:100%;width:100%;text-align:center;line-height:56px;color:#333;font-size:22px}
.sysName .tit:before,.sysName .tit:after{content:"";position:absolute;border-top:58px solid transparent;border-right:25px solid #333;top:-1px;right:0;}
.sysName .tit:after{border-right-color:#fff;right:-1px;top:-1px;}

/*菜单*/
.menu{height:100%;margin:0 auto;display:inline-block}
.menu li{float:left;height:100%;height:56px;line-height:56px;font-size:15px;position:relative}
.menu li:before,.menu li:after{content:"";border-bottom:32px solid #ccc;position:absolute;top:18px;left:5px;border-right:15px solid transparent}
.menu li:after{border-bottom-color:#fff;left:4px;top:19px}
.menu li a{display:block;height:32px;margin:17px 4px 0;width:115px;text-align:center;font-size:13px;line-height:34px;overflow:hidden;color:#999;border:1px solid #ccc;font-weight:700}
.menu li a:before,.menu li a:after{content:"";border-top:32px solid #ccc;position:absolute;top:18px;right:5px;border-left:15px solid transparent}
.menu li a:after{border-top-color:#fff;right:4px;top:17px}
.menu li:nth-child(n+3):before,.menu li:nth-child(n+3):after{
	border-top:32px solid #ccc;position:absolute;top:18px;left:5px;border-right:15px solid transparent;border-bottom:0}
.menu li:nth-child(n+3):after{border-top-color:#fff;left:4px;top:17px}
.menu li:nth-child(n+3) a:before,.menu li:nth-child(n+3) a:after{border-bottom:32px solid #ccc;position:absolute;top:18px;right:5px;border-left:15px solid transparent;border-top:0;}
.menu li:nth-child(n+3) a:after{border-bottom-color:#fff;right:4px;top:19px}
.menu li.sysnameN{width:382px}
.menu li.sysnameN:before,.menu li.sysnameN:after{display:none}
.menu li a:hover{color:#333}
.menu li.on a{background-color:#ddd;color:#333}

/**/
.chartWarp{padding:0px 0 10px;height:calc(100% - 35px)}

.toal-row1{height:30%}
.toal-row1 .chartBlock{height:calc(100% - 53px);position:relative}
.toal-row1 .chartBlock .chartDiv{position:absolute!important;top:30%;left:0}
.toal-row2{height:calc(40% - 15px);margin-bottom: 15px;}
.toal-row3{height:30%}

.saleWarp .sale-row1{height:38%}
.saleWarp .sale-row2{height:62%}
.saleWarp .sale-row2 .tSel{height:calc(100% - 50px);margin-top: 20px;}

.inventoryWarp .int-row1{height:100%}
.int-row1 .h55{height:calc(55% - 20px)!important;margin-bottom:20px}
.int-row1 .tSel{height:calc(55% - 70px)!important;margin-top:20px}

.userWarp .user-row1{height:65%}
.userWarp .user-row2{height:35%}
.userWarp .user-row1 .col2 .chartBlock{height:calc(50% - 10px);margin-bottom:20px}
.userWarp .user-row1 .col2 .chartBlock:last-child{margin-bottom:0}

.pure-g [class*="pure-u-"],.pure-g [class^=pure-u-]{box-sizing:border-box;height:100%;padding:10px 10px}
.chartDiv{position:relative;z-index:10;width:100%;height:100%;display:block}

/**/
.chartBlock{width:100%;height:100%;position:relative}
.chartBlock .hd{height:32px;width:100%;text-align:center;position:absolute;top:-15px;z-index:1}
.chartBlock .hd .chartTit{display:inline-flex;background:#fff;}
.chartTit{display:inline-block;height:32px;line-height:32px;width:60%;padding:0 15px;position:relative;margin:0 auto}
.chartTit:after,.chartTit:before{content:"";position:absolute;left:-1px;border-right:16px solid #ccc;border-top:16px solid transparent;border-bottom:16px solid transparent;top:0px}
.chartTit:after{border-width:15px;border-right-color:#f5f5f5;left:0px;top:1px}
.chartTit .titContent{font-weight:700;height:30px;font-size:13px;display:block;color:#333;text-align:center;width:100%;min-width:8em;white-space:nowrap;border:1px solid #ccc;border-width:1px 0;background-color:#f5f5f5}
.chartTit .titContent:after,.chartTit .titContent:before{content:"";position:absolute;right:-1px;border-left:16px solid #ccc;border-top:16px solid transparent;border-bottom:16px solid transparent;top:0px}
.chartTit .titContent:after{border-width:15px;border-left-color:#f5f5f5;right:0px;top:1px}
.chartBlock .bd{border:1px solid #ccc;height:calc(100% - 32px);position:relative;width:calc(100% - 32px);padding:15px}

.subBlock{position:relative;border:1px solid #ccc;border-top:0}
.subBlock .subCon{height:32px;line-height:32px}
.subBlock .subtxt{float:left;margin-left:10px;height:32px;font-size:12px;color:#333}
.subBlock .subNum{font-weight:bold;font-size:15px;float:right;margin-right:10px}

.toal-row1 .pure-u-1-5:nth-child(1) .subBlock .subNum{color:#1779d9}
.toal-row1 .pure-u-1-5:nth-child(2) .subBlock .subNum{color:#30b761}
.toal-row1 .pure-u-1-5:nth-child(3) .subBlock .subNum{color:#d04a4b}
.toal-row1 .pure-u-1-5:nth-child(4) .subBlock .subNum{color:#ca841e}
.toal-row1 .pure-u-1-5:nth-child(5) .subBlock .subNum{color:#00a7c2}