<template>
  <div id="first">
    <!-- Row 组件 提供 gutter 属性来指定每一栏之间的间隔，默认间隔为 0。 -->
    <p>首页</p>
  </div>
</template>

<script>
export default {
  data() {
    return {}
  },
  methods: {},
}
</script>

<style scoped>
#first,
.el-col {
  height: 100%;
}
</style>
