<template>
  <div id="first" style="width: 100%">
    <el-row :gutter="10" style="height: 5vh">
      <!-- 设置第一行内容，间隔为10 -->
      <!-- 设置分栏的宽度为24，添加样式 -->
      <el-col :span="24">
        <span style="font-size: 14px" v-bind:interval="1000"
          >当前时间为：{{ currentTime }}</span
        >
      </el-col>
    </el-row>
    <el-row :gutter="20" style="margin: 10px 0 20px; height: 40vh; width: 100%">
      <!-- 通过 row 和 col 组件，并通过 col 组件的 span 属性我们就可以自由地组合布局 -->
      <el-col :span="14">
        <div class="chartBlock">
          <div class="hd">
            <div class="chartTit">
              <h2 class="titContent">排名前10的商品销量</h2>
            </div>
          </div>
          <div class="bd">
            <!-- echarts的容器 -->
            <div id="Merchandise_sales" style="height: 100%"></div>
          </div>
        </div>
      </el-col>
      <el-col :span="10">
        <div class="chartBlock">
          <div class="hd">
            <div class="chartTit">
              <h2 class="titContent">下单用户所在城市分布</h2>
            </div>
          </div>
          <div class="bd">
            <!-- echarts的容器 -->
            <div id="Proportion_of_cities" style="height: 100%"></div>
          </div>
        </div>
      </el-col>
    </el-row>
    <el-row :gutter="10">
      <!-- 设置第三行内容，间隔为10 -->
      <el-col :span="24">
        <el-table
          :data="
            tableData.slice(
              (currentPage - 1) * pagesize,
              currentPage * pagesize,
            )
          "
          border
          stripe
          style="width: 100%"
        >
          <el-table-column prop="name" label="商品名称"></el-table-column>
          <el-table-column prop="quantity" label="销售量"></el-table-column>
          <el-table-column prop="money" label="销售金额"></el-table-column>
          <el-table-column prop="profit" label="利润"></el-table-column>
          <el-table-column prop="stock" label="库存量"></el-table-column>
          <el-table-column prop="restock" label="进货量"></el-table-column>
          <el-table-column prop="heaven" label="存货周转天数"></el-table-column>
          <el-table-column prop="time" label="月份"></el-table-column>
        </el-table>
        <!-- 设置分页样式 -->
        <div class="block" style="margin-top: 20px">
          <!-- 设置分页的背景色、子组件布局，当前页、按钮数、每页条目数和总条目数-->
          <!-- 设置分页的背景色、子组件布局，当前页、按钮数、每页条目数和总条目数-->
          <el-pagination
            :total="tableData.length"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[5, 10, 20, 50]"
            :page-size="pagesize"
            background
            layout="total, sizes, prev, pager, next, jumper"
          >
          </el-pagination>
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
var padDate = function (value) {
  return value < 10 ? '0' + value : value
}
export default {
  data() {
    return {
      currentPage: 1,
      pagesize: 5, // 设置当前页和每页条目数
      currentTime: '', // 当前时间
      Merchandise_sales: null, // 排名前10的商品销量图表实例
      Proportion_of_cities: null, // 下单用户所在城市分布实例
      // 表格的数据
      tableData: [
        {
          name: '华为 P50 Pro',
          quantity: 2,
          money: 10,
          profit: 200,
          stock: 10,
          restock: 100,
          heaven: 2,
          time: 2,
        },
        {
          name: '华为 P40 Pro',
          quantity: 2,
          money: 10,
          profit: 200,
          stock: 10,
          restock: 100,
          heaven: 2,
          time: 2,
        },
        {
          name: '华为 P30 Pro',
          quantity: 2,
          money: 10,
          profit: 200,
          stock: 10,
          restock: 100,
          heaven: 2,
          time: 2,
        },
        {
          name: '华为 Mate 60 Pro',
          quantity: 2,
          money: 10,
          profit: 200,
          stock: 10,
          restock: 100,
          heaven: 2,
          time: 2,
        },
        {
          name: '华为 Mate 50 Pro',
          quantity: 2,
          money: 10,
          profit: 200,
          stock: 10,
          restock: 100,
          heaven: 2,
          time: 2,
        },
        {
          name: '华为 nova 8 Pro',
          quantity: 2,
          money: 10,
          profit: 200,
          stock: 10,
          restock: 100,
          heaven: 2,
          time: 2,
        },
        {
          name: '华为 nova 7 Pro',
          quantity: 2,
          money: 10,
          profit: 200,
          stock: 10,
          restock: 100,
          heaven: 2,
          time: 2,
        },
      ],
      cityData: {
        name: [
          '东莞市',
          '佛山市',
          '广州市',
          '清远市',
          '韶关市',
          '深圳市',
          '中山市',
          '珠海市',
        ],
        city: [
          {
            value: 22.64,
            name: '东莞市',
          },
          {
            value: 4.6,
            name: '佛山市',
          },
          {
            value: 39.61,
            name: '广州市',
          },
          {
            value: 0.04,
            name: '清远市',
          },
          {
            value: 1.37,
            name: '韶关市',
          },
          {
            value: 3.94,
            name: '深圳市',
          },
          {
            value: 23.96,
            name: '中山市',
          },
          {
            value: 3.84,
            name: '珠海市',
          },
        ],
      },
      salesData: {
        product_name: [
          '营养快线',
          '雪碧',
          '农夫水',
          '王老吉',
          '果粒橙',
          '劲仔\n\n小鱼仔',
          '红牛',
          '康师傅\n\n冰红茶',
          '阿萨姆\n\n奶茶',
          '东鹏特饮',
        ],
        sales: [6574, 6777, 6785, 7225, 7646, 7744, 7910, 8561, 9517, 11777],
      },
    }
  },
  created() {
    setInterval(() => {
      this.currentTime = this.getCurrentDate()
      // this.currentTime = this.gettime()
    }, 1000)
  },
  mounted: function () {
    // 挂载
    var _this = this // 指向this 变量作用域一致;
    // this.timer = setInterval(function () {
    //   _this.date = new Date() // 修改date
    // }, 1000) // 设置定时器

    // 初始化echarts图表实例
    _this.Proportion_of_cities = this.$echarts.init(
      document.getElementById('Proportion_of_cities'),
    )
    _this.Merchandise_sales = this.$echarts.init(
      document.getElementById('Merchandise_sales'),
    )
    _this.setOption()
    // 监听窗口大小改变
    window.onresize = function () {
      // 图表自适应
      _this.Merchandise_sales.resize()
      _this.Proportion_of_cities.resize()
      // 重新设置表格内容最大高度
      //_this.height = window.innerHeight / 2 - 140
    }
    //this.getTableData()
  },
  methods: {
    setOption() {
      // echarts的属性大全 https://www.cnblogs.com/wjw1014/p/13395422.html
      // 请求数据前显示该实例的loading动画
      //this.Merchandise_sales.showLoading({ text: '' })
      // 调用接口
      //this.$axios.get('/sales').then((res) => {
      // 接口响应后隐藏该实例的loading动画
      //this.Merchandise_sales.hideLoading()
      // 绘制图表
      this.Merchandise_sales.setOption({
        tooltip: {
          trigger: 'axis', // 触发类型，可选为：'item' ¦ 'axis'
        }, // 提示框
        grid: {
          left: '2%',
          right: '2%',
          top: '8%',
          bottom: '2%',
          containLabel: true,
        }, // 设置画布的上下左右留白
        xAxis: {
          data: this.salesData.product_name,
          axisLabel: {
            interval: 0,
          }, // 显示所有横坐标值
        }, // 配置x轴坐标系
        yAxis: {}, //配置y轴坐标系
        series: [
          {
            name: '销量',
            type: 'bar',
            data: this.salesData.sales,
          },
        ], // 配置系列列表
      })
      //})
      //this.Proportion_of_cities.showLoading({ text: '' })
      //this.$axios.get('/city').then((res) => {
      //this.Proportion_of_cities.hideLoading()
      this.Proportion_of_cities.setOption({
        tooltip: {
          formatter: '{a} <br/>{b} : {c} ({d}%)',
        }, // 配置提示框组件
        legend: {
          top: '6%',
          data: this.cityData.name,
        }, // 配置图例组件
        series: [
          // 配置数据系列组件
          {
            name: '访问来源',
            type: 'pie',
            radius: ['42%', '72%'], // 设置半径
            center: ['50%', '58%'], // 设置圆心
            clockwise: true,
            data: this.cityData.city,
          },
        ],
      })
      //})
    },
    handleSizeChange(size) {
      //每页显示的条目数
      this.pagesize = size
    },
    handleCurrentChange(currentPage) {
      //当前页数
      this.currentPage = currentPage
    },
    getCurrentDate() {
      var date = new Date()
      var year = date.getFullYear()
      var month = padDate(date.getMonth() + 1)
      var day = padDate(date.getDate())
      var weekday = [
        '星期日',
        '星期一',
        '星期二',
        '星期三',
        '星期四',
        '星期五',
        '星期六',
      ]
      var day_ = new Date().getDay()
      var hours = padDate(date.getHours())
      var minutes = padDate(date.getMinutes())
      var seconds = padDate(date.getSeconds())
      // 整理并返回
      return `${hours}:${minutes}:${seconds} ${year}年${month}月${day}日 ${weekday[day_]}`
      //return hours + ':' + minutes + ':' + seconds + '\n' + year + '年' + month + '月' + day + '日' + '\n' + weekday[day_]
    },
  },
}
</script>

<style scoped>
#first,
.el-col {
  height: 100%;
}
</style>
