<template>
  <div id="sales">
    <!-- el-form属性inline：是否为行内表单 -->
    <el-form :inline="true">
      <el-form-item label="查询订单信息：">
        <!-- 属性clearable：清除内容 -->
        <!-- @change: 仅在输入框失去焦点或用户按下回车时触发 -->
        <el-input
          v-model="parameter"
          @change="getData()"
          placeholder="请输入内容"
          clearable
          prefix-icon="el-icon-search"
          style="width: 40vw"
        ></el-input>
      </el-form-item>
      <el-button
        type="primary"
        icon="el-icon-circle-plus-outline"
        @click="add()"
        >新增元素</el-button
      >
      <el-button
        type="primary"
        icon="el-icon-circle-close"
        @click="toggleSelection()"
        >取消选择</el-button
      >
      <el-tooltip
        effect="dark"
        content="删除后数据无法恢复，确定批量删除数据？"
        placement="right"
      >
        <el-button type="danger" icon="el-icon-delete" @click="arrsDel()"
          >批量删除</el-button
        ></el-tooltip
      >
    </el-form>
    <!--数据展示区域-->
    <el-table
      v-loading="loading"
      :data="Data.slice((currentPage - 1) * pagesize, currentPage * pagesize)"
      ref="multipleTable"
      tooltip-effect="dark"
      border
      style="width: 100%"
      :max-height="height"
      @selection-change="handleSelectionChange"
    >
      <el-table-column
        type="selection"
        width="39"
        fixed="left"
      ></el-table-column>
      <el-table-column
        prop="equipment"
        label="设备编号"
        min-width="80"
      ></el-table-column>
      <el-table-column prop="time" label="下单时间" min-width="150">
        <template slot-scope="scope">{{ reformat(scope.row.time) }}</template>
      </el-table-column>
      <el-table-column
        prop="order"
        label="订单编号"
        min-width="190"
      ></el-table-column>
      <el-table-column
        prop="quantity"
        label="销售量"
        min-width="65"
      ></el-table-column>
      <el-table-column
        prop="money"
        label="总金额(元)"
        min-width="90"
      ></el-table-column>
      <el-table-column
        prop="pay"
        label="支付状态"
        min-width="80"
      ></el-table-column>
      <el-table-column
        prop="ship"
        label="出货状态"
        min-width="80"
      ></el-table-column>
      <el-table-column
        prop="refund"
        label="退款金额(元)"
        min-width="105"
      ></el-table-column>
      <el-table-column
        prop="user"
        label="购买用户"
        min-width="170"
      ></el-table-column>
      <el-table-column
        prop="address"
        label="市"
        min-width="65"
      ></el-table-column>
      <el-table-column
        prop="name"
        label="商品名称"
        min-width="180"
      ></el-table-column>
      <el-table-column
        prop="month"
        label="月份"
        min-width="50"
      ></el-table-column>
      <el-table-column
        prop="hour"
        label="小时"
        min-width="50"
      ></el-table-column>
      <el-table-column
        prop="period"
        label="下单时间段"
        min-width="95"
      ></el-table-column>
      <el-table-column
        prop="cluster"
        label="购买用户 (群集)"
        min-width="125"
      ></el-table-column>
      <el-table-column
        prop="type"
        label="用户类型"
        min-width="80"
      ></el-table-column>
      <el-table-column label="操作" width="120" fixed="right">
        <template slot-scope="scope">
          <!--编辑按钮-->
          <el-button
            type="primary"
            size="small"
            icon="el-icon-edit"
            @click="handleEdit(scope.row)"
          ></el-button>
          <!--删除按钮-->
          <el-button
            type="danger"
            size="small"
            icon="el-icon-delete"
            @click="remove(scope.row.id)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>

    <!--分页部分-->
    <pagination
      v-show="Data.length"
      :currentPage.sync="currentPage"
      :pageSize.sync="pagesize"
      :total.sync="Data.length"
    ></pagination>

    <!--对话框表单-->
    <el-dialog
      :title="form.id ? '编辑元素' : '新增元素'"
      v-if="iconFormVisible"
      :visible.sync="iconFormVisible"
      :before-close="handleClose"
      center
      width="600px"
    >
      <el-form
        :model="form"
        ref="form"
        :rules="rules"
        label-width="120px"
        size="mini"
        label-position="right"
        @keyup.enter.native="submitUser()"
      >
        <el-form-item label="设备编号" prop="equipment">
          <el-input v-model="form.equipment"></el-input>
        </el-form-item>
        <el-form-item label="下单时间" prop="time">
          <el-date-picker
            v-model="form.time"
            type="datetime"
            value-format="yyyy-MM-dd HH:mm:ss"
            placeholder="选择下单时间"
          ></el-date-picker>
        </el-form-item>
        <el-form-item label="订单编号" prop="order">
          <el-input v-model="form.order"></el-input>
        </el-form-item>
        <el-form-item label="销售量" prop="quantity">
          <el-input v-model="form.quantity"></el-input>
        </el-form-item>
        <el-form-item label="总金额(元)" prop="money">
          <el-input v-model="form.money"></el-input>
        </el-form-item>
        <el-form-item label="支付状态" prop="pay">
          <el-radio-group v-model="form.pay">
            <el-radio label="会员余额"></el-radio>
            <el-radio label="微信"></el-radio>
            <el-radio label="现金"></el-radio>
            <el-radio label="支付宝"></el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="出货状态" prop="ship">
          <el-select
            v-model="form.ship"
            placeholder="请选择出货状态"
            style="width: 100%"
          >
            <el-option
              v-for="ss in ship_status"
              :key="ss"
              :label="ss"
              :value="ss"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="退款金额(元)" prop="refund">
          <el-input v-model="form.refund"></el-input>
        </el-form-item>
        <el-form-item label="购买用户" prop="user">
          <el-input v-model="form.user"></el-input>
        </el-form-item>
        <el-form-item label="市" prop="address">
          <el-select
            v-model="form.address"
            placeholder="请选择对应市区"
            style="width: 100%"
          >
            <el-option
              v-for="ua in urban_area"
              :key="ua"
              :label="ua"
              :value="ua"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="商品名称" prop="name">
          <el-input v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item label="月份" prop="month">
          <el-input v-model="form.month"></el-input>
        </el-form-item>
        <el-form-item label="小时" prop="hour">
          <el-input v-model="form.hour"></el-input>
        </el-form-item>
        <el-form-item label="下单时间段" prop="period">
          <el-select
            v-model="form.period"
            placeholder="请选择对应的时间段"
            style="width: 100%"
          >
            <el-option
              v-for="tp in time_period"
              :key="tp"
              :label="tp"
              :value="tp"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="购买用户 (群集)" prop="cluster">
          <el-radio-group v-model="form.cluster">
            <el-radio label="群集1"></el-radio>
            <el-radio label="群集2"></el-radio>
            <el-radio label="群集3"></el-radio>
            <el-radio label="群集4"></el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="用户类型" prop="type">
          <el-radio-group v-model="form.type">
            <el-radio label="一般用户"></el-radio>
            <el-radio label="潜在用户"></el-radio>
            <el-radio label="流失用户"></el-radio>
            <el-radio label="活跃用户"></el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitUser()">确 定</el-button>
          <el-button @click="iconFormVisible = false">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import pagination from '@/components/PaginationComp.vue'

export default {
  components: {
    pagination,
  },
  data() {
    return {
      parameter: '',
      iconFormVisible: false,
      rowIndex: null,
      ship_status: [
        '出货成功',
        '出货失败',
        '出货异常',
        '出货中',
        '取消出货',
        '未出货',
      ],
      urban_area: [
        '东莞市',
        '佛山市',
        '广州市',
        '清远市',
        '韶关市',
        '深圳市',
        '中山市',
        '珠海市',
      ],
      time_period: ['凌晨', '早晨', '上午', '中午', '下午', '傍晚', '晚上'],
      loading: true,
      height: 120,
      Data: [],
      currentPage: 1,
      pagesize: 20,
      form: {
        id: null,
        equipment: '',
        time: '',
        order: '',
        quantity: '',
        money: '',
        pay: '',
        ship: '',
        refund: '',
        user: '',
        address: '',
        name: '',
        month: '',
        hour: '',
        period: '',
        cluster: '',
        type: '',
      },
      rules: {
        equipment: [
          { required: true, message: '请输入设备编号', trigger: 'change' },
        ],
        time: [
          { required: true, message: '请选择下单时间', trigger: 'change' },
        ],
        order: [
          { required: true, message: '请输入订单编号', trigger: 'change' },
        ],
        quantity: [
          { required: true, message: '请输入销售量', trigger: 'change' },
        ],
        money: [
          { required: true, message: '请输入总金额(元)', trigger: 'change' },
        ],
        pay: [{ required: true, message: '请选择支付状态', trigger: 'change' }],
        ship: [
          { required: true, message: '请选择出货状态', trigger: 'change' },
        ],
        refund: [
          { required: true, message: '请输入退款金额(元)', trigger: 'change' },
        ],
        user: [
          { required: true, message: '请输入购买用户', trigger: 'change' },
        ],
        address: [
          { required: true, message: '请选择对应市区', trigger: 'change' },
        ],
        name: [
          { required: true, message: '请输入商品名称', trigger: 'change' },
        ],
        month: [{ required: true, message: '请输入月份', trigger: 'change' }],
        hour: [{ required: true, message: '请输入小时', trigger: 'change' }],
        period: [
          { required: true, message: '请选择对应的时间段', trigger: 'change' },
        ],
        cluster: [
          {
            required: true,
            message: '请选择购买用户 (群集)',
            trigger: 'change',
          },
        ],
        type: [
          { required: true, message: '请选择用户类型', trigger: 'change' },
        ],
      },
    }
  },
  created() {
    this.height = window.innerHeight - 215
    this.getData()
  },
  methods: {
    reformat(time) {
      let dates = new Date(time)
      let Y = dates.getFullYear() + '/'
      let M =
        (dates.getMonth() + 1 < 10
          ? '0' + (dates.getMonth() + 1)
          : dates.getMonth() + 1) + '/'
      let D =
        dates.getDate() < 10
          ? '0' + dates.getDate() + ' '
          : dates.getDate() + ' '
      let H =
        dates.getHours() < 10
          ? '0' + dates.getHours() + ':'
          : dates.getHours() + ':'
      let MS =
        dates.getMinutes() < 10
          ? '0' + dates.getMinutes() + ':'
          : dates.getMinutes() + ':'
      let S =
        dates.getSeconds() < 10 ? '0' + dates.getSeconds() : dates.getSeconds()

      const currentDate = Y + M + D + H + MS + S
      return currentDate
    },
    // 获取Data的数据
    getData() {
      this.loading = true
      this.$axios
        .get('/order/inquire', { params: { parameter: this.parameter } })
        .then((res) => {
          console.log(res.data)
          this.Data = res.data
          this.loading = false
        })
    },
    // 取消选择方法
    toggleSelection() {
      this.$refs.multipleTable.clearSelection()
    },
    // 增加方法
    add() {
      for (let key in this.form) {
        this.form[key] = ''
      }
      this.form.id = null
      this.iconFormVisible = true
    },
    // 编辑方法
    handleEdit(row) {
      this.form = JSON.parse(JSON.stringify(row))
      this.form.time = this.reformat(this.form.time).replace(/\//g, '-')
      this.iconFormVisible = true
    },
    // 提交修改
    submitUser() {
      this.$refs.form.validate((valid) => {
        if (valid) {
          let formData = new FormData()
          for (let key in this.form) {
            formData.append(key, this.form[key])
          }
          this.$axios
            .post(`/order/${this.form.id ? 'revise' : 'add'}`, formData)
            .then((res) => {
              if (res.data === '成功') {
                // 更新页面列表
                this.getData()
                this.$message({
                  type: 'success',
                  message: this.form.id ? '编辑成功!' : '新增成功!',
                })
              }
            })
          this.iconFormVisible = false
        }
      })
      this.getData()
    },
    // 删除方法
    remove(id) {
      this.$confirm('此操作将永久删除该数据, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'error',
      })
        .then(() => {
          this.$axios
            .delete('/order/delete/single', { params: { id } })
            .then((res) => {
              // { id }相当于{ id: id }
              // 判断如果返回成功
              if (res.data === '成功') {
                // 通过element的消息提示删除成功
                this.$message({
                  type: 'success',
                  message: '删除成功!',
                })
                // 重新获取数据更新列表
                this.getData()
              }
            })
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除',
          })
        })
    },
    handleSelectionChange(val) {
      // 点击选中
      this.multipleSelection = val
    },
    // 批量删除
    arrsDel() {
      let arr = []
      for (let i = 0; i < this.multipleSelection.length; i++) {
        arr.push(this.multipleSelection[i].id) // 接收所有选中的ID
      }
      this.$confirm('此操作将永久删除该数据, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'error',
      })
        .then(() => {
          this.$axios
            .delete('/order/delete/many', { data: { id: arr } })
            .then((res) => {
              if (res.data === '成功') {
                this.getData()
                this.$message({
                  type: 'success',
                  message: '删除成功!',
                })
                this.toggleSelection()
              }
            })
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除',
          })
        })
      this.getData()
    },
    // 对话框是否关闭
    handleClose(done) {
      this.$confirm('确认关闭？')
        .then(() => {
          done()
        })
        .catch(() => {})
    },
  },
}
</script>

<style scoped="scoped">
.el-table .cell {
  line-height: 33px;
}
.elTable {
  border: 1px solid black;
}
</style>
