<template>
  <div id="sales">
    <!-- el-form属性inline：是否为行内表单 -->
    <el-form :inline="true">
      <el-form-item label="查询商品信息：">
        <!-- 属性clearable：清除内容 -->
        <!-- @change: 仅在输入框失去焦点或用户按下回车时触发 -->
        <el-input
          v-model="parameter"
          @change="getData()"
          placeholder="请输入内容"
          clearable
          prefix-icon="el-icon-search"
          style="width: 40vw"
        ></el-input>
      </el-form-item>
      <el-button
        type="primary"
        icon="el-icon-circle-plus-outline"
        @click="add()"
        >新增元素</el-button
      >
      <el-button
        type="primary"
        icon="el-icon-circle-close"
        @click="toggleSelection()"
        >取消选择</el-button
      >
      <el-tooltip
        effect="dark"
        content="删除后数据无法恢复，确定批量删除数据？"
        placement="right"
      >
        <el-button type="danger" icon="el-icon-delete" @click="arrsDel()"
          >批量删除</el-button
        ></el-tooltip
      >
    </el-form>
    <!--数据展示区域-->
    <el-table
      v-loading="loading"
      :data="Data.slice((currentPage - 1) * pagesize, currentPage * pagesize)"
      ref="multipleTable"
      tooltip-effect="dark"
      border
      style="width: 100%"
      :max-height="height"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="50"></el-table-column>
      <el-table-column prop="name" label="商品名称"></el-table-column>
      <el-table-column prop="quantity" label="销售量"></el-table-column>
      <el-table-column prop="money" label="销售金额"></el-table-column>
      <el-table-column prop="profit" label="利润"></el-table-column>
      <el-table-column prop="stock" label="库存量"></el-table-column>
      <el-table-column prop="restock" label="进货量"></el-table-column>
      <el-table-column prop="heaven" label="存货周转天数"></el-table-column>
      <el-table-column prop="time" label="月份"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <!--编辑按钮-->
          <el-button
            type="primary"
            size="small"
            icon="el-icon-edit"
            @click="handleEdit(scope.row)"
          ></el-button>
          <!--删除按钮-->
          <el-button
            type="danger"
            size="small"
            icon="el-icon-delete"
            @click="remove(scope.row.id)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>

    <!--分页部分-->
    <!-- v-show: 有数据时显示页码组件 -->
    <!-- :XXX.sync: 向子组件传数据, 子组件通过$emit更新这里的数据 -->
    <pagination
      v-show="Data.length"
      :currentPage.sync="currentPage"
      :pageSize.sync="pagesize"
      :total.sync="Data.length"
    ></pagination>

    <!--对话框表单-->
    <!-- 若form.id不为null则弹窗显示为编辑，负责为新增 -->
    <el-dialog
      :title="form.id ? '编辑元素' : '新增元素'"
      v-if="iconFormVisible"
      :visible.sync="iconFormVisible"
      :before-close="handleClose"
      center
      width="500px"
    >
      <el-form
        :model="form"
        ref="form"
        label-width="120px"
        size="mini"
        :rules="rules"
        :label-position="right"
        @keyup.enter.native="submitUser()"
      >
        <el-form-item label="商品名称" prop="name">
          <el-input v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item label="销售量" prop="quantity">
          <el-input v-model="form.quantity"></el-input>
        </el-form-item>
        <el-form-item label="销售金额" prop="money">
          <el-input v-model="form.money"></el-input>
        </el-form-item>
        <el-form-item label="利润" prop="profit">
          <el-input v-model="form.profit"></el-input>
        </el-form-item>
        <el-form-item label="库存量" prop="stock">
          <el-input v-model="form.stock"></el-input>
        </el-form-item>
        <el-form-item label="进货量" prop="restock">
          <el-input v-model="form.restock"></el-input>
        </el-form-item>
        <el-form-item label="存货周转天数" prop="heaven">
          <el-input v-model="form.heaven"></el-input>
        </el-form-item>
        <el-form-item label="月份" prop="time">
          <el-input v-model="form.time"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitUser()">确 定</el-button>
          <el-button @click="iconFormVisible = false">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import pagination from '@/components/PaginationComp.vue' // 引入公共组件
export default {
  components: {
    pagination, // 注册引入的组件
  },
  data() {
    return {
      parameter: '',
      right: '',
      iconFormVisible: false,
      rowIndex: null,
      loading: true,
      height: 120,
      Data: [],
      currentPage: 1, // 当前页码
      pagesize: 20, // 每页条数
      count: null, // 数据总量
      form: {
        id: null,
        name: '',
        quantity: '',
        money: '',
        profit: '',
        stock: '',
        restock: '',
        heaven: '',
        time: '',
      },
      rules: {
        name: [{ required: true, message: '请输入商品名称' }],
        quantity: [{ required: true, message: '请输入销售量' }],
        money: [{ required: true, message: '请输入销售金额' }],
        profit: [{ required: true, message: '请输入利润' }],
        stock: [{ required: true, message: '请输入库存量' }],
        restock: [{ required: true, message: '请输入进货量' }],
        heaven: [{ required: true, message: '请输入存货周转天数' }],
        time: [{ required: true, message: '请输入月份' }],
      },
    }
  },
  created() {
    // 初始化
    this.height = window.innerHeight - 215
    this.getData()
  },
  methods: {
    // 获取Data的数据
    getData() {
      this.loading = true
      this.$axios
        .get('/goods/inquire', { params: { parameter: this.parameter } })
        .then((res) => {
          this.Data = res.data
          this.loading = false
        })
    },
    // 取消选择方法
    toggleSelection() {
      this.$refs.multipleTable.clearSelection()
    },
    // 增加方法
    add() {
      // 重置form
      for (let key in this.form) {
        this.form[key] = ''
      }
      this.form.id = null
      // 打开弹窗
      this.iconFormVisible = true
    },
    // 编辑方法
    handleEdit(row) {
      this.form = JSON.parse(JSON.stringify(row))
      this.iconFormVisible = true
    },
    // 提交新增/修改
    submitUser() {
      // 表单校验
      this.$refs.form.validate((valid) => {
        // 若校验通过
        if (valid) {
          // 根据接口传参格式修改数据
          let formData = new FormData()
          for (let key in this.form) {
            formData.append(key, this.form[key])
          }
          this.$axios
            .post(`/goods/${this.form.id ? 'revise' : 'add'}`, formData)
            .then((res) => {
              if (res.data === '成功') {
                // 更新页面列表
                this.getData()
                this.$message({
                  type: 'success',
                  message: this.form.id ? '编辑成功!' : '新增成功!',
                })
              }
            })
          // 关闭弹窗
          this.iconFormVisible = false
        }
      })
    },
    // 删除方法
    remove(id) {
      // 通过element的提示框确认
      this.$confirm('此操作将永久删除该数据, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'error',
      })
        .then(() => {
          // 点击确定按钮
          this.$axios
            .delete('/goods/delete/single', { params: { id } })
            .then((res) => {
              // { id }相当于{ id: id }
              // 判断如果返回成功
              if (res.data === '成功') {
                // 通过element的消息提示删除成功
                this.$message({
                  type: 'success',
                  message: '删除成功!',
                })
                // 重新获取数据更新列表
                this.getData()
              }
            })
        })
        .catch(() => {
          // 点击取消按钮
          this.$message({
            type: 'info',
            message: '已取消删除',
          })
        })
    },
    handleSelectionChange(val) {
      // 点击选中
      this.multipleSelection = val
    },
    // 批量删除
    arrsDel() {
      let arr = []
      for (let i = 0; i < this.multipleSelection.length; i++) {
        arr.push(this.multipleSelection[i].id) // 接收所有选中的ID
      }
      this.$confirm('此操作将永久删除该数据, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'error',
      })
        .then(() => {
          this.$axios({
            url: '/goods/delete/many',
            method: 'delete',
            data: { id: arr },
          }).then((res) => {
            if (res.data === '成功') {
              this.getData()
              this.$message({
                type: 'success',
                message: '删除成功!',
              })
              this.toggleSelection()
            }
          })
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除',
          })
        })
    },
    // 对话框是否关闭
    handleClose(done) {
      this.$confirm('确认关闭？')
        .then(() => {
          done()
        })
        .catch(() => {})
    },
  },
}
</script>

<style scoped="scoped">
.el-table .cell {
  line-height: 35px;
}
.elTable {
  border: 1px solid black;
}
</style>
