<template>
  <div class="chartWarp userWarp">
    <div class="pure-g user-row1">
      <div class="pure-u-7-24 col2">
        <div class="chartBlock">
          <div class="hd">
            <div class="chartTit">
              <h2 class="titContent">用户下单时间段占比</h2>
            </div>
          </div>
          <div class="bd">
            <div id="Time_ratio" class="chartDiv"></div>
          </div>
        </div>
        <div class="chartBlock">
          <div class="hd">
            <div class="chartTit">
              <h2 class="titContent">订单支付状态的使用次数</h2>
            </div>
          </div>
          <div class="bd">
            <div id="Form_payment" class="chartDiv"></div>
          </div>
        </div>
      </div>
      <div class="pure-u-10-24">
        <div class="chartBlock">
          <div class="hd">
            <div class="chartTit">
              <h2 class="titContent">各月份商品销售量和订单总金额</h2>
            </div>
          </div>
          <div class="bd">
            <div id="Order_volume_and_amount" class="chartDiv"></div>
          </div>
        </div>
      </div>
      <div class="pure-u-7-24 col2">
        <div class="chartBlock">
          <div class="hd">
            <div class="chartTit">
              <h2 class="titContent">订单出货状态分布</h2>
            </div>
          </div>
          <div class="bd">
            <div id="Shipment" class="chartDiv"></div>
          </div>
        </div>
        <div class="chartBlock">
          <div class="hd">
            <div class="chartTit">
              <h2 class="titContent">各月份存货周转天数</h2>
            </div>
          </div>
          <div class="bd">
            <div id="Inventory_turnover" class="chartDiv"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="pure-g user-row2">
      <div class="pure-u-12-24">
        <div class="chartBlock">
          <div class="hd">
            <div class="chartTit">
              <h2 class="titContent">各月份库存量和进货量</h2>
            </div>
          </div>
          <div class="bd">
            <div id="Inventory_and_incoming_quantity" class="chartDiv"></div>
          </div>
        </div>
      </div>
      <div class="pure-u-12-24">
        <div class="chartBlock">
          <div class="hd">
            <div class="chartTit">
              <h2 class="titContent">用户类型的数量分布</h2>
            </div>
          </div>
          <div class="bd">
            <div id="The_user_type" class="chartDiv"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import charts_user from '@/assets/js/charts.user.js' // 引用图表的js
export default {
  name: 'app',
  data() {
    return {}
  },
  methods: {
    charts_user, // 将引用的方法作为当前组件的方法
  },
  mounted() {
    this.charts_user() // 标签渲染完调用
  },
}
</script>
