<template>
  <!-- element页码组件 -->
  <el-pagination
    @size-change="handleSizeChange"
    @current-change="handleCurrentChange"
    :current-page="currentPage"
    :page-sizes="[5, 10, 15, 20]"
    :page-size="pageSize"
    layout="total, sizes, prev, pager, next, jumper"
    :total="total"
    background
    style="margin-top: 10px"
  >
  </el-pagination>
</template>

<script>
export default {
  // 接收父组件传入的数据
  props: ['currentPage', 'pageSize', 'total'],
  data() {
    return {}
  },
  methods: {
    handleSizeChange(val) {
      // 更新父组件的数据
      this.$emit('update:pageSize', val)
    },
    handleCurrentChange(val) {
      // 更新父组件的数据
      this.$emit('update:currentPage', val)
    },
  },
}
</script>
