<template>
  <el-header style="height: 60px">
    <span style="color: hsl(60, 100%, 100%)"
      >新零售智能销售数据管理与可视化平台</span
    >
  </el-header>
</template>

<script>
export default {
  name: 'HeaderComponent',
  date() {
    return {}
  },
}
</script>
