<template>
  <div>
    <!--左侧导航-->
    <!-- default-active是el-menu的属性，当前激活菜单的index -->
    <!-- $route相当于当前正在跳转的路由对象，可获取name,path,params,query等 -->
    <!-- el-menu-item绑定的index属性与el-menu的default-active属性可实现刷新后依旧显示当前激活的菜单 -->
    <el-menu class="left-menu" router :default-active="$route.path">
      <el-menu-item index="/first">
        <template> <i class="el-icon-menu"></i>首页 </template>
      </el-menu-item>
      <el-menu-item index="/subscriber">
        <template> <i class="el-icon-set-up"></i>库存数据管理 </template>
      </el-menu-item>
      <el-menu-item index="/sales">
        <template> <i class="el-icon-set-up"></i>订单数据管理 </template>
      </el-menu-item>
      <el-menu-item index="/visual">
        <template> <i class="el-icon-view"></i>可视化分析 </template>
      </el-menu-item>
    </el-menu>
  </div>
</template>

<script>
export default {
  name: 'SidebarComponent',
  date() {
    return {}
  },
}
</script>

<style scoped="scoped">
.left-menu {
  min-height: 100vh;
}
</style>
