<template>
  <!-- 以“el-”为前缀的标签均为Element的标签 https://element.eleme.cn/#/zh-CN/component/installation -->
  <el-container>
    <!--头部信息-->
    <el-header><HeaderComponent /></el-header>
    <el-container>
      <!--左侧导航-->
      <el-aside style="width: 190px"> <SidebarComponent /></el-aside>
      <!--主体部分-->
      <el-main> <MainComponent /></el-main>
    </el-container>
  </el-container>
</template>

<script>
// 引入组件
import HeaderComponent from './components/Header'
import SidebarComponent from './components/Sidebar'
import MainComponent from './components/Main'
// import { HeaderComponent, SidebarComponent, MainComponent } from './components'
export default {
  name: 'LayoutComponent',
  date() {
    return {}
  },
  components: {
    // 注册组件
    HeaderComponent,
    SidebarComponent,
    MainComponent,
  },
}
</script>

<style scoped="scoped">
/* 在style标签上添加scoped属性，样式只作用于当下的模块 */

.el-header {
  text-align: center;
  line-height: 70px;
  font-size: 30px;
  background-color: rgb(139, 202, 243);
}
</style>
